.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 170px 30px auto 20% 20%;
    grid-template-areas:"header header header header header" "nav nav nav nav nav"
    "section section section section aside" "footer footer footer footer footer";
}

main .header{
    grid-area: header;
    background-color: #48A9A6;
}

main .nav{
    grid-area: nav;
    background: #ad2d2d; 
    margin: 0%;    
}

nav ol{
    margin: 0.2%;
}

main nav ol li{
    margin-right: 30px;
    display: inline-block;   
    border: 1px solid  black;
} 

main nav ol li a{
    padding: 2px 20px;
    display: block;
    text-decoration: none;
    color: white;
}

main .section{
    grid-area: section;    
    color: black;
    padding-left: 5%;
}

main section table{
    
}
