h1{
    color: blue;
}
form{
    background-color: #ad2d2d;
    color: white;
    font-family: Arial, sans-serif;
}
form fieldset legend{
    background-color: #ebc862;
    color: black;
}
form input[type="button"],
form input[type="submit"]{
    background-color: rgb(44, 156, 40);
    color: white;
}
img{
    width: 100%;
    margin: 1px;
}
/*Posicionamiento*/
#oskitar, #formulario{
    float: left;
}
#oskitar{
    width: 45%;
}
#formulario{
    width: 50%;
}